@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base { }

*{
    font-family: 'Poppins', sans-serif;
}

.online::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #8b5cf6;
    bottom: 0;
    right: 0;
    border: 3px solid #262626;
}

.active .chip {
    background-color: #404040;
}

.offline::after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #f43f5e;
    bottom: 0;
    right: 0;
    border: 3px solid #262626;
}

.active .online::after , .active .offline::after{
    border-color: #404040;
}